.mainContainer {
    display: flex;
    flex-direction: row;
}

.reservePiece {
    display: inline;
}

.reserveContainer {
    display: flex;
    flex-direction: row;
    position: absolute;
    flex-wrap: wrap;
}